<div class="page-wrap">
<app-header></app-header>

  <div class="container">
    <div class="whiteContainer">

      <h1 class="center large-head">Latest reviewers</h1>
      <p class="center w600">Here you can find details of our latest chosen reviewers PLUS more exciting opportunities
        from Product Testing</p>

      <div class="chosen-reviews">
        <div class="chosen-reviews-left">

          <div class="chosen-reviews-inner">

            <div class="featured-review">
              <h3 class="center uppercase">Congratulations to today's chosen reviewer :</h3>
              <div class="chosen-review chosen-review-table">
                <div class="chosen-review-table-cell image-cell">
                  <img alt="Receive $100 to spend on Online Supermarket Groceries"
                    src="https://producttestingusa.com//uploads/product_images/734_product.jpeg">
                </div>
                <div class="chosen-review-table-cell text-cell ">
                  <span class="bold">Michael Allen</span><br>
                  <span class="red">Online Supermarkets</span><br>
                  <span class="date">28 JAN 2022</span>
                </div>
              </div>
            </div>

            <div id="chosen-load">
              <div class="chosen-review chosen-review-table">
                <div class="chosen-review-table-cell image-cell">
                  <img alt="Kids Toy Bundle" src="https://producttestingusa.com//uploads/product_images/794_product.jpeg">
                </div>
                <div class="chosen-review-table-cell text-cell ">
                  <span class="bold">Alisha Clausen</span><br>
                  <span class="red">Kids Toy Bundle</span><br>
                  <span class="date">27 JAN 2022</span>
                </div>
              </div>
              <div class="chosen-review chosen-review-table">
                <div class="chosen-review-table-cell image-cell">
                  <img alt="Petcube Pet Camera" src="https://producttestingusa.com//uploads/product_images/870_product.jpeg">
                </div>
                <div class="chosen-review-table-cell text-cell ">
                  <span class="bold">Diana Presnull</span><br>
                  <span class="red">Petcube Pet Camera</span><br>
                  <span class="date">26 JAN 2022</span>
                </div>
              </div>
            </div>

            <a class="btn btn-default uppercase" href="#" id="chosen-load-more">See more</a>
          </div>

          <div class="chosen-countdown" data-active="0" id="countdown-middle"></div>

          <div class="chosen-grey-box">
            <h2 class="center">Missed out this time?</h2>
            <p class="center">Try these opportunities</p>

            <div class="chosen-missed-out">
              <div class="siteImgContainer">
                <a href="/5/xbox-one" rel="nofollow">
                  <img alt="xbox one" class="siteImg" src="https://producttestingusa.com//uploads/product_images/5_product.jpeg"
                    title="Review &amp; Keep an Xbox One with Kinect!">
                  <img class="signupSmall" src="https://producttestingusa.com//img/ptusa/signup.png" title="Sign Up!">
                </a>
              </div>
            </div>
            <div class="chosen-missed-out">
              <div class="siteImgContainer">
                <a href="/21/free-bose-soundlink-color" rel="nofollow">
                  <img alt="free bose soundlink color" class="siteImg" src="https://producttestingusa.com//uploads/product_images/21_product.jpeg"
                    title="Free Bose Soundlink Color 2!">
                  <img class="signupSmall" src="https://producttestingusa.com//img/ptusa/signup.png" title="Sign Up!">
                </a>
              </div>
            </div>
            <div class="chosen-missed-out">
              <div class="siteImgContainer">
                <a href="/40/gamestop-mystery-shopper" rel="nofollow">
                  <img alt="gamestop mystery shopper" class="siteImg" src="https://producttestingusa.com//uploads/product_images/40_product.jpeg"
                    title="Become a GameStop Mystery Shopper!">
                  <img class="signupSmall" src="https://producttestingusa.com//img/ptusa/signup.png" title="Sign Up!">
                </a>
              </div>
            </div>
            <div class="chosen-missed-out">
              <div class="siteImgContainer">
                <a href="/46/film-reviewer" rel="nofollow">
                  <img alt="film reviewer" class="siteImg" src="https://producttestingusa.com//uploads/product_images/46_product.jpeg"
                    title="Receive $50 to be a Film Reviewer!">
                  <img class="signupSmall" src="https://producttestingusa.com//img/ptusa/signup.png" title="Sign Up!">
                </a>
              </div>
            </div>
          </div>

          <a class="btn btn-default uppercase" href="/reviews">Previous chosen reviewers</a>
        </div>

        <div class="chosen-reviews-right chosen-reviews-adverts">
          <a href="849/walmart-50?" target="_blank" rel="nofollow">
            <img src="https://producttestingusa.com//uploads/product_images/849_product.jpeg" title="You Could Get A $50 Walmart Gift Card*"
              alt="Walmart">
          </a>
          <a href="820/zumiez-mystery-shopper?" target="_blank" rel="nofollow">
            <img src="https://producttestingusa.com//uploads/product_images/820_product.jpeg" title="Become a Zumiez Mystery Shopper!"
              alt="Zumiez $100">
          </a>
          <a href="807/amazon-masked?" target="_blank" rel="nofollow">
            <img src="https://producttestingusa.com//uploads/product_images/807_product.jpeg" title="Become an Amazon Shopper!"
              alt="Amazon Gaming $100">
          </a>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
</div>
