<app-header></app-header>
<div class="container whiteContainer" id="customPage">
  <p style="text-align:center"><span style="font-size:24px"><strong>About us</strong></span></p>

<p><span style="font-size:18px"><strong>Welcome to Product Testing USA!</strong></span></p>

<p><a href="http://producttestingusa.com/" style="line-height: 1.6;">ProductTestingUSA.com</a> is a one of a kind product testing company brought to you by the popular<br>
<a href="http://producttesting.uk.com/" style="line-height: 1.6;">ProductTesting.uk.com</a>. Featuring large branded products, mystery shopping opportunities and secret diner experiences.</p>

<p>Our mission is to give the public the chance to give their honest opinion and improve the consumer experience.</p>

<p>It's completely free to sign up and if selected, you test and keep the product! All we ask for in return, is a review of the<br>
product or experience.</p>

<p>Please note Product Testing is not endorsed or associated with any of the brands listed on our page.</p>
</div>
<app-footer></app-footer>
