<app-header></app-header>
<div class="container">
  <div class="whiteContainer">
                  <h1 class="center">Login</h1>

      <div class="chosen-reviews">
          <form action="" method="POST" id="siteForm">
                                  <input type="hidden" name="postback" value="1">

              <p>Email:</p>
              <input type="text" name="email" required="">

              <p>Password:</p>
              <input type="password" name="password" required="">
              <span class="smallText"><a href="/password-recovery">I forgot my password</a></span>
              <p class="center">
                  <button id="submitButton">Login</button>
              </p>
          </form>
      </div>
  </div>
</div>
<app-footer></app-footer>
