<app-header></app-header>
<div class="container">
  <div class="whiteContainer">
    <h1 class="center">The Review Room</h1>
    <p class="center">Here's all the awesome reviews we've had so far</p>
    <p class="center">Like a review? Share it on Facebook and the reviewer that receives the most shares will get a $25
      prize!</p>
    <div id="reviews">

      <ul class="reviewsItem">
        <li><a href="/review/560/makayla-reviews-build-a-bear?"><img src="https://producttestingusa.com//uploads/reviews/1642155597_1.jpg"></a><a
            class="white" href="/691?">
            <p class="reviewsBtn">Register</p>
          </a></li>
        <li class="reviewsContent">
          <h2><a href="/review/560/makayla-reviews-build-a-bear?">Makayla Reviews Build a Bear</a></h2><span
            class="small">By Makayla Burton on 01/14/2022<br> Rating: <img style="width: 20px; vertical-align: middle;"
              src="https://producttestingusa.com//img/rating1.png"><img style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"> </span><br><br>I went to the Build a
          bear workshop at the Mall of America, so the bears didn’t get delivered to me. There wasn't any packaging
          because I didn’t order them. You could buy boxes for them if you wanted to. I ended up buying two Eevees and
          two Pikchus. The bears are super soft and I lov... <a class="small"
            href="/review/560/makayla-reviews-build-a-bear?">»Read More</a>
        </li>
      </ul>
      <ul class="reviewsItem">
        <li><a href="/review/559/amber-reviews-the-ring-floodlight-camera-pro?"><img
              src="/uploads/reviews/1640087667_1.jpg"></a><a class="white" href="/852?">
            <p class="reviewsBtn">Register</p>
          </a></li>
        <li class="reviewsContent">
          <h2><a href="/review/559/amber-reviews-the-ring-floodlight-camera-pro?">Amber Reviews the Ring Floodlight
              Camera Pro</a></h2><span class="small">By Amber Kotschwar on 12/21/2021<br> Rating: <img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com/img/rating1.png"> </span><br><br>The delivery of the
          Ring Floodlight Camera was very quick and on time from the delivery company. My first impression of the
          product was it was easy to find everything and it included almost everything you need for setup, even a
          screwdriver and hardware.

          The product was well-packaged, nothing was ... <a class="small"
            href="/review/559/amber-reviews-the-ring-floodlight-camera-pro?">»Read More</a>
        </li>
      </ul>
      <ul class="reviewsItem">
        <li><a href="/review/558/olivia-reviews-uber-eats?"><img src="/uploads/reviews/1637682130_1.jpg"></a><a
            class="white" href="/767?">
            <p class="reviewsBtn">Register</p>
          </a></li>
        <li class="reviewsContent">
          <h2><a href="/review/558/olivia-reviews-uber-eats?">Olivia Reviews Uber Eats</a></h2><span class="small">By
            Olivia Nash on 11/23/2021<br> Rating: <img style="width: 20px; vertical-align: middle;"
              src="/img/rating1.png"><img style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"> </span><br><br>My name is Olivia and
          I was selected to Review Uber Eats. This was my first time using Uber Eats, so I decided to first go about
          downloading the Uber Eats app that way I could see what all they had to offer. Once it was downloaded, I
          created an account and added my home address so I could see all th... <a class="small"
            href="/review/558/olivia-reviews-uber-eats?">»Read More</a>
        </li>
      </ul>
      <ul class="reviewsItem">
        <li><a href="/review/557/tammy-reviews-a-cocktail-trolley?"><img src="https://producttestingusa.com//uploads/reviews/1636459333_1.jpg"></a><a
            class="white" href="/838?">
            <p class="reviewsBtn">Register</p>
          </a></li>
        <li class="reviewsContent">
          <h2><a href="/review/557/tammy-reviews-a-cocktail-trolley?">Tammy Reviews a Cocktail Trolley</a></h2><span
            class="small">By Tammy Gomez on 11/09/2021<br> Rating: <img style="width: 20px; vertical-align: middle;"
              src="https://producttestingusa.com//img/rating1.png"><img style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="https://producttestingusa.com//img/rating2.png"> </span><br><br>It only took a few
          days to get here and the delivery service was pleasant. The packaging&nbsp;was neatly boxed and taped well
          with a photo on the outside of the box to see what was inside.

          On the inside the pieces were in plastic bags with styrofoam for protection. All the instructions and
          pieces... <a class="small" href="/review/557/tammy-reviews-a-cocktail-trolley?">»Read More</a>
        </li>
      </ul>
      <ul class="reviewsItem">
        <li><a href="/review/556/jessica-reviews-a-conair-bundle?"><img src="/uploads/reviews/1636459299_1.jpg"></a><a
            class="white" href="/847?">
            <p class="reviewsBtn">Register</p>
          </a></li>
        <li class="reviewsContent">
          <h2><a href="/review/556/jessica-reviews-a-conair-bundle?">Jessica Reviews a Conair Bundle</a></h2><span
            class="small">By Jessica Lusk on 11/09/2021<br> Rating: <img style="width: 20px; vertical-align: middle;"
              src="/img/rating1.png"><img style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"><img
              style="width: 20px; vertical-align: middle;" src="/img/rating1.png"> </span><br><br>I got the Conair Style
          &amp; Shine hair dryer and the Knot Dr. all in one style brush. The hair dryer is lightweight yet powerful. I
          have hair almost down to the end of my back and this dryer was able to dry my hair in almost half of the time
          of my normal dryer. The diffuser attachment was great for... <a class="small"
            href="/review/556/jessica-reviews-a-conair-bundle?">»Read More</a>
        </li>
      </ul>
    </div>
    <div id="loadMore">LOAD MORE</div>
  </div>
</div>

<app-footer></app-footer>
