*,
::before,
::after {
  box-sizing: border-box !important;
}
.container {
  max-width: 940px;
  margin: 0px auto;
}
.whiteContainer {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.center {
  text-align: center;
}
#reviews {
  width: 90%;
  margin: 0px auto 20px;
}
.reviewsItem {
  display: table;
  margin: 20px 0px 0px;
  padding: 20px 0px 0px;
  border-top: 1px solid rgb(204, 204, 204);
}
.reviewsItem li {
  vertical-align: top;
  display: table-cell;
}
a {
  text-decoration: none;
}
.reviewsItem li img {
  max-width: 150px;
}
.reviewsBtn {
  text-align: center;
  background: rgb(30, 202, 107);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0px;
  color: rgb(255, 255, 255);
  padding: 5px !important;
}
.reviewsContent {
  padding-left: 10px;
}
.reviewsContent h2 {
  margin: 0px;
}
.reviewsContent a {
  color: rgb(0, 0, 0);
}
.reviewsContent a:hover {
  text-decoration: underline;
}
.small {
  font-size: 12px;
}
#loadMore {
  background: rgb(28, 190, 101);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 940px) {
  .container {
    padding: 0px 10px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
@media (max-width: 650px) {
  .reviewsItem li img {
    max-width: 100px;
  }
}
