
  <div id="footer" class="site-footer">
    <ul id="footerMenu">
        <li><a href="/p/about-us">ABOUT US</a></li>
        <li><a href="/p/privacy-policy">PRIVACY NOTICE</a></li>
        <li><a href="/p/terms-conditions">TERMS &amp; CONDITIONS</a></li>
        <li><a href="/faqs">FAQS</a></li>
        <li><a href="/affiliate_program">AFFILIATE PROGRAM</a></li>
        <li><a href="/unsubscribe" rel="nofollow">UNSUBSCRIBE</a></li>
    </ul>
    <div id="footerSocialMedia">
        <a href="https://www.facebook.com/ProductTestingUSA" target="_blank">
            <img src="https://producttestingusa.com/img/ptusa/layout2/fbmedium.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/ProductTestUSA" target="_blank">
            <img src="https://producttestingusa.com/img/ptusa/layout2/twittermedium.png" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/channel/UCUR2zHD2XuIDAVQ4MVEqApQ" target="_blank">
            <img src="https://producttestingusa.com/img/ptusa/layout2/youtubemedium.png" alt="Youtube">
        </a>
        <a href="https://www.instagram.com/producttestingusa/" target="_blank">
            <img src="https://producttestingusa.com/img/ptusa/layout2/instagrammedium.png" title="Instagram">
        </a>
    </div>

    <div style="text-align:center;margin:15px 0;">
        <a href="https://privacy.submissiontechnology.co.uk/form/" target="_blank" rel="noopener nofollow">
            <button style="background:#f4f4f4;color:#33495f;padding:10px;font-size:16px;border:none;border-radius:3px;cursor:pointer;">
                Do Not Sell My Personal Data
            </button>
        </a>
    </div>

    <p id="footerCopyright">COPYRIGHT © PRODUCTTESTINGUSA.COM - ALL RIGHTS RESERVED</p>
    <p>Wholly owned by Submission Technology Ltd, trading at The Beater House, Turkey Mill, Maidstone, Kent, England, ME14 5PP</p>
    <p>dpo@submissiontechnology.co.uk</p>
</div>
